<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="business-casual.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>API AngularJS</title>
</head>

<body ng-app="app-llibres" ng-controller="ApplicationController">
  <div class="container">
      <div class="jumbotron">
                <h1 class="text-center">API REST amb AngularJS</h1>
                <h3 ng-if="currentUser" class="text-center">Usuari: {{currentUser.username}} <a ng-if="currentUser" ng-click="logout()" class="btn btn-danger btn-md">Desconecta</a></h3>
                 
      </div>
  </div>
   <nav class="navbar navbar-default" role="navigation">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   <li>
                        <a href="/#/login">Login</a>
                    </li>
                    <li ng-if="!currentUser">
                        <a href="/#/registrarUser">Registrar</a>
                    </li>
                    <li>
                        <a href="/#/">Llistar llibres</a>
                    </li>
                    <li>
                        <a href="/#/llistaAutors">Llistar autors</a>
                    </li>
                    <li ng-if="currentUser">
                        <a href="/#/crearLlibre">Nou llibre</a>
                    </li>
                    <li ng-if="currentUser">
                        <a href="/#/crearAutor">Nou autor</a>
                    </li>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        <!-- /.container -->
    </nav>

    <div ng-view></div>
    <script src="jquery.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
    <script src="app.js"></script>
</body>

</html>