<div class="container">
    
<form class="form-horizontal">
                   
                    <fieldset>
                        <legend class="blanco">Edita Autor</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-2 control-label blanco">Nom</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="nomAutorEdit" placeholder="Nom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-2 control-label blanco">Cognom</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="cognomAutorEdit" placeholder="Cognom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-2 control-label blanco">Descripció</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="descripcioAutorEdit" placeholder="Descripció">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Cancel·la</button>
                                <button type="submit" ng-click="actualitzar()" class="btn btn-primary">Envia</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                </div>